.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  place-content: center;
  /* - падинги и тд по-хорошему указать в относительных единицах,
  но не знаю как подбирать правильно их, просто подставлять макет
  и на глаз подставлять значения? */
  padding-top: 100px;
  padding-bottom: 103px;
  padding-left: min(300px, 30vw);
  padding-right: min(300px, 30vw);
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--font-regular-wght);
  color: var(--text-color);
  background-image: var(--bgi);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: clamp(350px, 55vw, 700px);
  padding: 136px 120.5px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--bgk);
  border: 2px solid var(--text-color);
  margin-bottom: 99px;
}

.header__container {
  display: grid;
  place-items: center;
  gap: 21px;
  margin-bottom: 24px;
}

.header__title {
  /* font-size: clamp(49px, 2.7104rem + 1.65vw, 4.0625rem); */
  font-size: clamp(2.5rem, 2.248rem + 2.5vw, 4.0625rem);
  max-width: inherit;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 1vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  line-height: 14px;
  margin-left: 17px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 2px;
  margin-top: 3px;
  background-color: var(--text-color);
  transition: transform 0.3s;
  transform-origin: left center;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu_button:focus {
  border: none;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation: arrow-move 0.5s infinite alternate ease-in-out;
}

.content,
.footer {
  width: clamp(350px, 55vw, 700px);
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 49px;
}

.card {
  background-color: var(--bgk);
  border: 2px solid var(--text-color);
}

.card-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-bold-wght);
  line-height: 21.8px;
  padding: 5px 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--text-color);
}

.card-container {
  position: relative;
}

.card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 14px;
  font-family: var(--accent-font);
  text-shadow: -1px 0 var(--label-border), 0 1px var(--label-border),
    1px 0 var(--label-border), 0 -1px var(--label-border);
  mix-blend-mode: hard-light;
  opacity: 0.6;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px) or (text-stroke: 1px) {
  .card-label {
    -webkit-text-stroke: 1px var(--label-border);
    text-stroke: 1px var(--label-border);
  }
}

.card-img {
  display: block;
  width: 100%;
}

.card:nth-child(2) .card-img {
  filter: sepia(90%);
}

.card:nth-child(3) .card-img {
  filter: saturate(300%);
}

.card:nth-child(4) .card-img {
  filter: hue-rotate(25deg);
}

.card:nth-child(5) .card-img {
  filter: invert(80%);
}

.card:nth-child(6) .card-img {
  filter: sepia(90%);
}

.card:nth-child(7) .card-img {
  filter: blur(10px);
}

.card:nth-child(8) .card-img {
  filter: saturate(150%) hue-rotate(95deg) blur(2px) brightness(100%)
    contrast(0.5);
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 23.5px;
  color: var(--text-color);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-regular-wght);
  line-height: 21px;
  border-top: 2px solid var(--text-color);
}

.description-text {
  margin-bottom: 27.5px;
}

.description-text:last-of-type {
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: end;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
}

.button-like {
  display: flex;
  width: 169px;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  align-self: center;
  width: 41px;
  height: 38px;
  cursor: pointer;
  padding: 0;
  outline: 2px solid rgb(255 255 255 / 0);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
  border: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  border: none;
}

.like-icon {
  align-self: flex-start;
  width: 38px;
  height: inherit;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
}

.like-icon:active .main-body {
  fill: rgb(255 0 0);
}

.like-icon:active .core {
  fill: rgb(255 0 0);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s 2 alternate ease-in;
  transform-origin: center;
}

.like-icon.is-liked .contour {
  fill: rgb(255 0 0);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.03s;
  fill: rgb(255 0 0);
}

.like-icon.is-liked .core {
  fill: rgb(255 0 0);
}

.like-icon.is-liked .sparks {
  animation: sparks-fill 0.3s 0.3s 2 alternate ease-in;
  opacity: 0;
}

.like-icon:not(.is-liked) .contour {
  transition: 0.1s linear;
}

.heart {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.3s 0.06s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.05s linear;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  display: flex;
  position: relative;
  padding: 11px 35px;
  width: 130px;
  border: 2px solid var(--text-color);
  cursor: pointer;
  color: var(--text-color);
  margin-right: 6px;
  justify-content: center;
}

.card__like-button::before,
.save::before {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left center;
  background-color: var(--blend-color);
  mix-blend-mode: difference;
  cursor: pointer;
}

.card__like-button:hover::before,
.save:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:focus-within,
.save:focus-within {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
}

.card__like-button:focus {
  outline: none;
  background-color: rgb(255 255 255 / 0);
}

.button__text {
  color: var(--text-color);
  margin-right: 0;
}

.save {
  display: flex;
  width: clamp(320px, 30vw, 340px);
  margin-top: 1px;
  background-color: var(--bgk);
  gap: 8px;
  padding: 15px;
  padding-left: min(15px, 1vw);
  border: 2px solid var(--text-color);
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.save:focus-visible,
.save:focus {
  outline: none;
  background-color: var(--bgk);
}

.save-picture {
  fill: var(--text-color);
  width: 21px;
  height: 21px;
  align-self: center;
}

.footer {
  padding-top: 50px;
}

.save-dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 30px;
  padding: 30px;
  border: 2px solid var(--text-color);
  background-color: var(--bgk);
  color: var(--text-color);
  font-family: var(--accent-font);
}

.save-dialog:not([open]) {
  pointer-events: none;
  display: none;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__main {
  display: flex;
  gap: 20px;
}

.dialog__save-picture {
  width: 39px;
  height: 39px;
  fill: var(--text-color);
  align-self: center;
}

.dialog__save-picture_settings {
  scale: 185.7%;
}

.dialog__text {
  font-size: 14px;
  line-height: 21px;
  max-width: 234px;
  text-transform: uppercase;
}

.dialog__button {
  max-width: 293px;
  padding: 12.5px 132.5px;
  border: 2px solid var(--text-color);
  text-transform: uppercase;
  cursor: pointer;
}

@media (width <= 375px) {
  .page {
    padding: 100px 0px;
  }

  .header {
    width: clamp(320px, 100%, 375px);
    padding: 120px 14px 21px;
    margin-bottom: 98px;
  }

  .header__title {
    font-size: clamp(1.5625rem, -0.1518rem + 13.7143vw, 3.0625rem);
  }

  .header__text {
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  }

  .theme-menu__list {
    margin-left: 20px;
  }

  .content {
    width: clamp(320px, 100%, 375px);
    gap: 49.3px;
  }

  .card-label {
    top: 22px;
    right: 11px;
  }

  /* Это нужно чтоб перенеслось правильно слово "пора" в предпоследней карточке */
  .card:nth-child(7) .description-text:nth-child(1) {
    margin-right: 4px;
  }

  .card__like-button {
    margin-right: 5px;
  }

  .button-like {
    gap: 9px;
  }

  .like-icon {
    margin-top: 2px;
  }

  .save {
    display: flex;
    width: clamp(310px, 30vw, 310px);
    flex-direction: column;
    white-space: nowrap;
    padding: 19px;
    padding-top: 16px;
    padding-bottom: 15px;
    gap: 7px;
  }

  .save-picture {
    max-width: 28px;
    max-height: 28px;
    width: 28px;
    height: 28px;
  }

  .save-picture_settings {
    scale: 133%;
  }

  .footer {
    width: 100%;
    padding: 48px 34.5px 100px;
  }

  .dialog__text {
    max-width: 198px;
  }

  .dialog__button {
    max-width: 257px;
    padding: 12.5px 114.5px;
  }
}
