/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter Variable";
  --accent-font: "Press Start 2P";
  --font-bold-wght: "700";
  --font-regular-wght: "400";
  --bgk: #ffffff;
  --bgi: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#e7e7e7 0px 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a, #1a1a1a 100%);
  --text-color: #000000;
  --label-border: #fff;
  --blend-color: #fff;
  --heart-contour: #000000;
  --heart-sparks: #FF0000;
}